<ion-view title="Dashboard">
  <ion-content class="has-header padding">
    <ul class="list">

      <li class="item item-checkbox">
        <label class="checkbox">
          <input ng-model="record.pulse" type="checkbox">
        </label>
        Pulse
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input ng-model="record.bp" type="checkbox">
        </label>
        Blood Pressure
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input ng-model="record.spo2" type="checkbox">
        </label>
        SPO2
      </li>

    </ul>
    <button class="button button-positive button-block" ng-click="startRecording()">
    Record
    </button>
  </ion-content>
</ion-view>
